.gradient-custom-2 {
    /* fallback for old browsers */
    background: #7e40f6;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgb(238,174,202),
      rgba(233,208,148,1)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgb(238,174,202),
      rgba(233,208,148,1)
    );
  }
  
  .mask-custom {
    background: rgba(24, 24, 16, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }

  /* Style button */
.btn-outline-light {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #886551;
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.btn-outline-light:hover {
  background-color: #886551;
  color: #fff;
}


/* Style ideas list */
.ideas-container {
  margin-top: 20px;
}

#ideas-list textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

#ideas-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#ideas-list li {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 2px solid #fff;
}

/* Style form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #886551;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #886551;
  color: #fff;
}

.delete-style, .update-style{
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #886551;
  font-size: 16px;
  cursor: pointer;
}

button.btn.btn-outline-light {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #886551;
  font-size: 16px;
  cursor: pointer;
}

a{
  color: #886551;
  text-decoration: none;
}



